*{
    margin:0;
    padding: 0;
    font-family: "Axiforma", Sans-serif;
    box-sizing: border-box;
}
p{
    line-height: 2;
    font-family: "Axiforma", Sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#sticky{
    overflow: hidden;
    position:sticky;
    top: 0;
    z-index: 5;
}
#container{
    
    background-color: #0C0C0C;
    display: flex;
    height: 3.562rem;
    justify-content: space-between;
    
}   
.button{
    display: flex;
    justify-content: flex-end;
    padding: 0.625rem 0.938rem;
    text-align: center;
}
.button a{
    text-decoration: none;
    padding: 0.625rem 0.938rem;
    font-weight: bolder;
    color: aliceblue;
    border-radius: 5px;
}
.button a:hover{
    color: #ff63bd;
    background: #444;
}
.home{
    padding-top: 6px;
}
.what{
    padding-top: 6px;
}
.who{
    padding-top: 6px;
}
.contact{
    padding-top: 6px;
}

#intro img
{   
    height: 100%;
    width:100%;

}
#intro{
    height:100vh;
    background: url('./mainpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    font-weight: 900;
    color: #fff;
    font-size: 6rem;
    text-align: center;
    text-shadow:5px 5px 5px #ff63bd;
    padding-bottom: 3.125rem;

}
.heading p{
    font-weight: 800;
    font-size: 1.8rem;
    text-align: center;
    color:#ff63bd;
    text-shadow:5px 5px 3px #fff;
}
.heading a{
    text-decoration: none;
    
    font-family: "Axiforma", Sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.1px;
    background-color: #ff63bd;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    color: #fff;
    font-weight:900;
    margin-top: 50px    ;
    
}
.heading a:hover{
    background-color: #ff78c7;
    color: #fff;
}
.btnn{
    display: flex;
    justify-content: center;
}


#hjk{
    padding: 20px;
    margin-bottom: 80px;
}
.whatwedo h2{
    margin: 20px;
}

.headd{
    margin-top: 3.562rem;
    text-align: center;
    color: #000;
    font-size: 30px;
    margin: 50px;
    
}
.headd h3{
    font-weight: 900;
}
.pinkcolor{
    color: #ff63bd;
}
.containerss{
    display: flex;
    justify-content: center;
    
}
.containerss div{
    flex: 1;
}
.containerss p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: "Axiforma", Sans-serif;

}
.container-1{
    display: flex;
    justify-content: center;
}
.containerss .log {
    flex: 1;

}
.containerss .written {
    flex: 3;

}




.container-2{
    display: flex;
    justify-content: center;
}
.container-3{
    display: flex;
    justify-content: center;
}
.written h3{
    padding-bottom: 1.25rem;
}
.written pre{
    font-weight: bold;
}
.gh{
    display: flex;
    justify-content: center;
    height: 6.25rem;
    width: 6.563rem;
    border-radius: 90%;
    background-color: #ff63bd;
    margin: 0 .625rem;
}
.faizan{
    height: 37.125rem;
    display: flex;
}
.picc{
    background: url('./secondarypic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
}
.whoweare{
    height: 100%;
    flex: 1;
    padding: 1.25rem;
    background:#000 ;
    color: #fff;
}
.whoweare h3{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 1.25rem;

}
.whoweare p{
    font-size: 1.25rem;
    padding: 1.25rem;
    line-height: 1.2;
}
#clients{
    height: 22rem;
    margin: 2rem;
    margin-bottom: 3rem;
}
.logoo-2{
    display: flex;
    justify-content: center;
}

#clients .logoo-2 img{
    margin: 20px;
    height: 120px; width: 120px;
    
    
}
.headd h1{
    font-size: 50px;
    font-weight: 800;
}
#contactt{
    display: flex;
}
.m-heading{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
}

.contact-form p{
    font-size: 1.5rem;
    text-align: center;
}
.contact-form{
    background-color: black;
    padding: 1rem 2rem;
}

#contactt .map, #contactt .contact-form{
    flex: 1;
}
#contactt .contact-form .form-group{
    margin: 1rem;
}

#contactt .contact-form label{
    display: block;
    color: #fff;
    padding-bottom: 1.2rem ;
    font-size: 1.2rem;
    font-weight: 700;
}
#contactt .contact-form input,
#contactt .contact-form textarea{
    width: 100%;
    color: #fff;
    
    padding: .45rem 0;
    border:#ff63bd solid 3px;
    border-radius: 8px;
}
.bttn-dark{
    background: #ff63bd;
    color: #fff;
    display: inline-block;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
.footer{
    background-color: #0c0c0c;
    color: #fff;
    text-align: center;
    height: 5rem;
}
.footer p{
    font-size: 1rem;
    padding: 1rem;
}
.contact-form  p{
    color: #fff;
    font-size: 1.2rem;
}





